extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main  
    .container 
        .row 
            .col-12 
                +boxhead("Danh sách sản phẩm")
        .row    
            each item in productList 
                .col-4.mb-3 
                    .product-item 
                        .inner-image 
                            img(
                                src=item.thumbnail
                                alt="alt")
                        .inner-content 
                            a(
                                href =`products/detail/${item.slug}`
                               class="inner-title"
                            ) #{item.title}
                            .inner-price-new #{item.priceNew}$
                            .inner-price-old #{item.price}$
                            .inner-price-discount #{item.discountPercentage}