mixin alert-suscess(time)
    -if (messages.suscess)
        .message.info
            div(
                class="alert alert-success"
                data-time= time
                show-alert
            ) #{messages.suscess} <span close-message>X</span>
mixin alert-error(time)
    -if (messages.error)
        .message.info
            div(
                class="alert alert-danger"
                data-time= time
                show-alert
            ) #{messages.error} <span close-message>X</span>
